body {
  background-color: hsla(126, 100%, 98%, 0.688);
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content p {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}

.timer {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: clamp(10px, 8rem, 13rem);
}
